    * {
        border: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%; 
    }

    body {
        width: 100vw;
        height: 100vh;
        color: #F2F2F2;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .container {
        display: grid;
        grid-template-columns: 5% 95%;
        grid-template-rows: 10% 35% 55%;
        grid-template-areas:
            "sidenav nav"
            "sidenav content-temp"
            "sidenav content-hours";
        height: 100%; 
    }


    .sidenav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: sidenav;
        background-color: #0A1319;
    }
    .sidenav{
        width:4vw;
        height: 95%;
        background-color: #566569;
        border-radius:8px;
    }

    .nav {
        grid-area: nav;
        background-color: #0A1319;
        display: flex;
        justify-content: center;
    }
    .search{
        margin-top:10px;
        height:20px;
        width:45%;
        border-radius:5px;
        background-color: #566569;
    }
    input:focus{
        border: 2px solid ;
        outline:none;
    }
    .submit{
        margin-top: 10px;
        margin-left:10px;
        height: 20px;
        width:20px;
        border-radius:50%;
    }

    .content-temp {
        grid-area: content-temp;
        background-color: #0A1319;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .cont_temp {
        display: flex;
        flex-direction:column;
        width: 25%;
        height: 80%;
        box-sizing: border-box;
        margin-left:10%;
        margin-top:2%;

        /* O padding aqui ajuda a garantir que o texto tenha um "espaço" interno */
    }
    .cont-icon{
        width:10vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:40vw;
    }
    .cidade{
        width:100%;
        height: auto;

    }
    
    .nomeCidade {
        font-size: 2.5vw; /* Tamanho da fonte baseado na largura da viewport */
        overflow: hidden; /* Esconde o excesso de texto */
        text-overflow: ellipsis; /* Adiciona "..." se o texto for muito grande */
        flex-grow: 1; /* Faz o texto crescer de acordo com o tamanho da div */
        max-width: 100%; /* Limita o tamanho máximo para garantir que não extrapole a div */

    }
    .temp{
        margin-top:20%;
        font-size: 2vw;
    }
    .content-hours {
        display: flex;
        justify-content: center;
        grid-area: content-hours;
        background-color: #0A1319;
    }
    .info{
        display: flex;
        align-items: center;
        flex-direction:column;
        background-color: #566569;
        width: 70%;
        height:90%;
        border-radius:10px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 10%;
    }
    .info-1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 40vw;
        height: 10vw;
        background-color: aquamarine;
    }
    .info-2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 40vw;
        height: 10vw;
        background-color: rgb(74, 114, 114);
    }
    .sensacao{
        width: 15vw;
        height: 12vh;
        background-color: #F2F2F2;
    }
    .vento{
        width: 15vw;
        height: 12vh;
        background-color: #F2F2F2;
    }
    .chuva{
        width: 15vw;
        height:12vh;
        background-color: #F2F2F2;
    }

 