    * {
        border: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html, body {
        height: 100%; 
    }

    body {
        width: 100vw;
        height: 100vh;
        color: #F2F2F2;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .container {
        display: grid;
        grid-template-columns: 5vw 60vw 35vw;
        grid-template-rows: 10vh 35vh 55vh;
        grid-template-areas:
            "sidenav nav sidebar"
            "sidenav content-temp sidebar"
            "sidenav content-hours sidebar";
        height: 100%; 
    }


    .sidenav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: sidenav;
        background-color: #0A1319;
    }
    .sidenav{
        width:4vw;
        height: 95%;
        background-color: #202B3B;
        border-radius:8px;
    }
    .sidebar{
        grid-area: sidebar;
        background-color: #0B131E;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        grid-area: nav;
        background-color: #0A1319;
        display: flex;
        justify-content: center;
    }
    .search{
        color:#C4CAD3;
        font-size: 1vw;
        margin-top:10px;
        height:20px;
        width:90%;
        border-radius:5px;
        background-color: #202B3B;
    }
    input:focus{
        border: 1px solid #43464ba4 ;
        outline:none;
    }
    .submit{
        margin-top: 10px;
        margin-left:10px;
        height: 20px;
        width:20px;
        border-radius:50%;
    }

    .content-temp {
        grid-area: content-temp;
        background-color: #0B131E;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .cont_temp {
        display: flex;
        flex-direction:column;
        width: 25%;
        height: 80%;
        box-sizing: border-box;
        margin-top:2%;
        margin-left: 2vw;
   

        /* O padding aqui ajuda a garantir que o texto tenha um "espaço" interno */
    }
    .cont-info-temp{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        height: 100%;
  }
    .cont-icon{
        width:10vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .cidade{
        width:100%;
        height: auto;

    }
    
    .nomeCidade {
        font-size: 2.5vw; /* Tamanho da fonte baseado na largura da viewport */
        overflow: hidden; /* Esconde o excesso de texto */
        text-overflow: ellipsis; /* Adiciona "..." se o texto for muito grande */
        flex-grow: 1; /* Faz o texto crescer de acordo com o tamanho da div */
        max-width: 100%; /* Limita o tamanho máximo para garantir que não extrapole a div */

    }
    .temp{
        margin-top:20%;
        font-size: 2vw;
    }
    .content-hours {
        display: flex;
        justify-content: center;
        grid-area: content-hours;
        background-color:  #0B131E;
    }
    .info{
        display: flex;
        align-items: center;
        flex-direction:column;
        background-color:#202B3B;
        width: 95%;
        height:90%;
        border-radius:10px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 10%;
    }

    .info-1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 98%;
        height: 8vw;
        margin-left: 2%;
        margin-top: 5.5vh;
    }
    .info-2{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:98%;
        height: 8vw;
        margin-left: 2%;
    }
    .sensacao{
        width: 15vw;
        height: 18vh;
    }
    .vento{
        width: 15vw;
        height: 18vh;
        margin-left:10vw;
    }
    .humidade{
        width: 15vw;
        height:18vh;
    }
    .p-div{
        display: flex;
        width: 100%;
        height: 22%;
    }
    .cont-sidebar{
        width: 95%;
        height: 86%;
        margin-top: 4%;
        background-color: #202B3B;
        border-radius: 10px;
    }
    input::placeholder{
        color: #C4CAD3;
        font-size: 1vw;
        padding-left:2px;
        opacity: 0.7;
    }
  
 